<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CP17310</title>
</head>

<body>
    <p>a: {{num1}}</p>
    <p>b: {{num2}}</p>
    <p>tinh: {{operator}}</p>
    <p>kq: {{{result}}}</p>
    {{{body}}}

</body>

</html>